@font-face {
  font-family: "website font";
  font-style: normal;
  src: url("/fonts/Qwerty-mono-regular.otf") format("opentype");
}

@font-face {
  font-family: "website font";
  font-style: italic;
  src: url("/fonts/Qwerty-mono-italic-regular.otf") format("opentype");
}
