.m-f-size-xl {
  font-size: 10rem;
  line-height: 12rem;
  font-weight: 400;
}

.m-f-size-l {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}

.m-f-size-reg {
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}

.m-f-size-small {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}

[class*=m-f-size].m-f-no-space {
  margin-top: 0;
  margin-bottom: 0;
}
